<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Server settings-->
    <add key="checkStartOnSystemStartup" value="No" />
    <add key="startOnSystemStartup" value="No" />
    <add key="isVisible" value="Yes" />
    <!--Shared memory size, default to 1048576 (1MB)-->
    <add key="sharedMemorySize" value="1048576" />
    <!--in second, default to 1s-->
    <add key="logUpdateInterval" value="1" />
    <!--in second, default to 5s-->
    <add key="checkClientInterval" value="5" />
    <!--User activiy supervisor settings-->
    <!--in second, default to 2s-->
    <add key="shortInterval" value="2" />
    <!--in second, default to 300s-->
    <add key="longInterval" value="150" />
    <!--Window Is TopMost, default to Yes-->
    <add key="isTopMost" value="No" />
    <!--是否开启Socket-->
    <add key="socketOn" value="Yes"/>
    <!--Server信息，对应于通讯方式为Socket，默认端口2000-->
    <add key="socketPort" value="2000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>