<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <!-- Register a section handler for the Nzl.Log4Net section -->

  <configSections>

    <section name="Nzl.Log4Net" type="System.Configuration.IgnoreSectionHandler" />

  </configSections>

  <appSettings>

    <!-- To enable internal Nzl.Log4Net logging specify the following appSettings key -->

    <!-- <add key="Nzl.Log4Net.Internal.Debug" value="true"/> -->

  </appSettings>

  <!-- This section contains the Nzl.Log4Net configuration settings -->

  <Nzl.Log4Net>

    <!-- Define some output appenders -->

    <appender name="LogFileAppender" type="Nzl.Log4Net.Appender.FileAppender">

      <param name="File" value="log-file.txt" />

      <!-- Example using environment variables in params -->

      <!-- <param name="File" value="${TMP}\\log-file.txt" /> -->

      <param name="AppendToFile" value="true" />

      <!-- An alternate output encoding can be specified -->

      <!-- <param name="Encoding" value="unicodeFFFE" /> -->

      <layout type="Nzl.Log4Net.Layout.PatternLayout">

        <!--<param name="Header" value="[Header]\r\n" />

        <param name="Footer" value="[Footer]\r\n" />-->

        <param name="ConversionPattern" value="%d [%t] %-6p [%C - %M] - @%m%n" />
      
      </layout>

      <!-- Alternate layout using XML
 
      <layout type="Nzl.Log4Net.Layout.XMLLayout" /> -->

    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->

    <root>

      <level value="ALL" />

      <appender-ref ref="LogFileAppender" />

      <!-- <appender-ref ref="A" /> -->

    </root>



    <!-- Specify the level for some specific categories -->

    <logger name="Nzl.Web.Forms.MainForm">

      <!-- <appender-ref ref="B" /> -->

      <level value="ALL" />

      <appender-ref ref="RollingLogFileAppender" />

    </logger>
    
    <!--<logger name="Nzl.Web.Forms.Rss.RssMonitorForm">

      --><!-- <appender-ref ref="B" /> --><!--

      <level value="ALL" />

      <appender-ref ref="RollingLogFileAppender" />

    </logger>-->

  </Nzl.Log4Net>

</configuration>
