<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--屏幕刷新间隔，秒-->
    <add key="updateInterval" value="3"/>
    <!--检测服务器间隔，秒-->
    <add key="checkServerInterval" value="5"/>
    <!--写日志间隔，分钟-->
    <add key="logInterval" value="30"/>
    <!--监视窗口每行字符数-->
    <add key="lineCharCount" value="100"/>
    <!--监视窗口空白字符串-->
    <add key="marginString" value="    "/>
    <!--日志文件名-->
    <add key="logFileName" value="log.log"/>
    <!--显示以下配置信息-->
    <add key="showConfig" value="No"/>
    <!--排序类型，三种情况：None、ProcessName、Time，默认不做排序-->
    <add key="sortType" value="ProcessName"/>
    <!--排序方式，两种情况：Ascending, Descending，默认Ascending-->
    <add key="orderStyle" value="Ascending"/>
    <!--Window Is TopMost, default to Yes-->
    <add key="isTopMost" value="No"/>
    <!--通讯方式，包括：SharedMemory，Socket-->
    <add key="communicationType" value="Socket"/>
    <!--Server信息，对应于通讯方式为Socket-->
    <add key="serverIP" value="127.0.0.1"/>
    <add key="serverPort" value="2000"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
